Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@sebas679pb 
sebas679pb
/
ArswLab1
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
ArswLab1/.gitignore

Sebastian Piñeros gitignore
Latest commit ba4c08f on Jun 7
 History
 0 contributors
31 lines (29 sloc)  518 Bytes

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications